*.pyc*

token.txt

/.quarto/
tests/*test*.csv
tests/outputs/*test*
tests/outputs/simple_funcs_run/*test*

.tox
htmlcov/
*.coverage
.cache/

.vscode

.Rproj.user/
**/*.quarto_ipynb

_freeze/
dist/
docs/
reference/
**/iframe_figures/
_sidebar.yml
site_libs/
__pycache__/

node_modules/
package.json
package-lock.json

_environment
